* {
    margin: 0;
}

form {
    width: 90%;
    text-align: left;
    margin: auto; /* sin esto se queda a la izquierda, porque he puesto margin 0 */
    border-collapse: collapse;
}

input, select, textarea {
    padding-left: 0.5em;
    margin: 1% 1em 1% 1em;
}

textarea {
    width: 90%;
    min-height: 8em;
}

label {
    margin: 1em 1em 0 1em;
    display: block;
}

.errorForm {
    display: flex;

    > p {
        color: var(--colorBordeError);
    }
}

section {
    padding: 1em;
}

#precio, #tipoPrecio, #metrosCuadrados, #superficie {
    display: inline-block;
}

#confirmar {
    margin: 0 0 1em 1em;
}

#simulacion {
    text-align: center;
    margin: auto;
}

#examinar {
    display: inline-block;
    border-radius: 5px;
    margin: 1em 1em 1em 0.5em;
}

section {
    margin-left: 2em;
    margin-bottom: 3em; 
    display: block;
}

@media (max-width: 480px) {
    form {
        width: 90%;
    }

    #examinar {
        max-width: 160px;
    }
}