* {
    margin: 0; /* esto es para que el header y el body puedan ocupar todo el espacio */
}

#sectio_barraNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--colorNav);
    padding: 20px 0;
}

#ciudad_busqueda {
    width: 40vw; /* esto es para que se haga largo el buscador, que no se porque no va con px o con el %*/
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
    border-radius: 4px;
}



#ul_articulos {
    list-style-type: none; /* para quitar los puntitos de las listas */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    padding-left: 0; /* para que no se quede tirado a la derecha los articles */
}

article {
    position: relative;
    width: 90%;
    height: auto;
    border: 1px solid var(--colorBordesArticulos);
    background: var(--colorArticulo);
    box-shadow: 1px 1px 10px var(--sombra);
    border-radius: 10px;
    margin: 30px;
}



@media (max-width: 480px) {
    #sectionArticulos {
        width: 95%;
        padding: 20px 10px;
    }

    #ul_articulos {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .a_tituloPublicacion {
        font-size: var(--tamFuentePequena);
        margin: 10px 0;
    }

    .p_descripcionA {
        font-size: var(--tamFuentePequena);
        margin: 10px 0;
    }

    .fecha, .precio, .pais, .ciudad {
        margin: 10px 10px 0 10px;
        font-size: var(--tamFuentePequena);
        clear: right;
        float: left;
    }
}