* {
    margin: 0;
}

h2 {
    margin: 1%;
}

.nav_body {
    margin: 1%;
}

@media (max-width:480px) {
    ul {
        padding: 0;
        list-style-type: none;
    }
    
    .nav_body {
        padding-bottom: 1em;
        text-align: center;
    }
}