
* {
    margin: 0; /* esto es para que el header y el body puedan ocupar todo el espacio */
}

section {
    padding: 3em 3em 3em 0;
    background-color: var(--colorFondoClaro);
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
    border: 2px solid var(--colorBordes);
}

h2 {
    padding-left: 1%;
    padding-top: 1em;
    font-style: italic;
}

h3 {
    padding-left: 1%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: underline;
}

h4, time {
    padding-left: 1%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1em 1em 1em 1em;
}

table {
    margin-left: 1%;
}

th {
    text-align: left;
}

ul {
    font-size: var(--tamFuenteMediana);
    list-style-type: none;
}

li {
    padding-bottom: 1em;
}

a {
    color: var(--colorFuente);
}

#primer_li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
}

#mis_datos {
    display: inline;
    grid-column: 1;
}

#nombre_perfil {
    display: inline;
    font-size: var(--tamFuenteGrande);
    text-align: center;
    grid-column: 2;
}

@media (max-width: 480px) {
    section {
        width: 80%;
    }
}