h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

article {
    text-align: center;
    margin: 2em auto;
    max-width: 600px;
    padding: 1em;
}

p {
    text-align: left;
    margin: 0.5em 0;
}


@media (max-width:480px) {
    body {
        text-align: center;
    }

    article {
        width: auto;
    }
}